.OrderDetailForm {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

@media(min-width: 600px){
    .OrderDetailForm {
        justify-content: center;
        align-content: center;
    }
}