.LoginForm {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.Register {
    display: flex;
}

@media(min-width: 600px){
    .LoginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}