.OrderSummaryModal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 100vh;
    z-index: 300;
    transition: transform 0.3s ease-out;
}

.CloseButton {
    cursor: pointer;
    position: fixed;
    z-index: 300;
    top: .5rem;
    right: .5rem;
    width: 2rem;
    height: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

.OrderSummaryModal > div {
    width: 100%;
    height: 100%;
}

.Open {
    transform: translateY(-100vh);
}

.Close {
    transform: translateY(0);
}

.OrderSummaryContainer {
    position: relative;
}

.OrderSummaryContainer ul[class*="OrderList"] {
    max-height: calc(100vh - 8rem);
    overflow: auto;
    padding: 0;
}

.OrderSummaryContainer div[class*="PayContiner"] {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media(min-width: 768px) {

    .OrderSummaryModal {
        display: none;
    }
    
}