.Menu {
    margin: 0;
    padding: 0;
}

.MenuItems {
    width: 100%;
}

.OrderSummary {
    display: none;
}

.OrderSummaryButton {
    display: inline-block;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

@media(min-width: 600px) {
    .Menu {
        padding: 0 1rem;
    }
}

@media(min-width: 768px) {
    .Menu {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1rem 1rem;
        gap: 1rem;
    }
    
    .MenuItems {
        flex: 6;
    }

    .OrderSummary {
        flex: 3;
        display: block;
        /* max-height: calc( 100vh - 128px - 44px - 40px - 2rem); */
    }

    .OrderSummaryButton {
        display: none;
    }
    
}

@media(min-width: 1024px) {

    .MenuItems {
        max-width: 1500px;
    }

    .OrderSummary {
        max-width: 500px;
    }
    
}