.Menu {
    margin: 0;
    padding: 0;
}

.MenuItems {
    width: 100%;
}

.OrderSummary {
    display: none;
}

@media(min-width: 600px) {
    .Menu {
        width: 90%;
        margin: 0 auto;
    }
    
}

@media(min-width: 1024px) {
    .Menu {
        width: 90%;
        margin: 2rem auto;
    }
    
    .MenuItems {
        display: inline-block;
        vertical-align: top;
        width: 70%;
    }

    .OrderSummary {
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;
        width: 30%;
        position: sticky;
        top: 2rem;
    }
    
}