.RegisterForm {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.Login {
    display: flex;
}

@media(min-width: 600px){
    .RegisterForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}