.Brand {
    display: block;
    font-family: "Krona One";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

.Brand p {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.ShowMarginBottomDisplay {
    height: 4rem;
    width: 100%;
}

.HideMarginBottomDisplay {
    display: none;
}

@media(min-width: 768px) {
    .ShowMarginBottomDisplay {
        display: none;
    }

    .HideMarginBottomDisplay {
        display: none;
    }
}

