

.Badge {
    display: flex;
    padding: 0 .2rem;
    align-content: center;
    text-align: center;
}

.Badge__circle span {
    font-size: 1rem;
    font-weight: bold;
    background: black;
    color: white;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
}

.Badge__square span {
    font-size: 1rem;
    font-weight: bold;
    background: black;
    color: white;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
}