.ItemList {
    overflow: hidden;
}

.Collapsed {
    height: 0;
}

.Open {
    height: auto;
}

@media(min-width: 1024px) {
    .ItemList {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: .8rem;
        row-gap: .8rem;
        padding: .8rem .8rem;
    }

    .Open {
        height: auto;
        margin-bottom: 1rem;
    }

    .Collapsed {
        height: auto;
    }
}